body {
    background-image: url('/Users/marcorocco/Documents/web development/class 142 boolean/proj142-team5-frontend/public/sergenteserpentebg.png');
    background-size: cover;
    background-repeat: repeat;
}

.jumbotron {
    background-image: url('/Users/marcorocco/Documents/web development/class 142 boolean/proj142-team5-frontend/public/sergenteserpentejumbo.png');
    background-position: center center;
    background-size: cover;
    min-height: 30vh;
    background-repeat: no-repeat;
    border-radius: .5rem;
}

.jumbotron-heading {
    font-size: 5rem;
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.height-header {
    height: 16vh;
}

header {
    background-color: #f0ede8;
}

.jumbotron-heading {
    margin: auto;
    height: 10%;
}

@media (max-width: 768px) {
    .jumbotron {
        height: 40vh;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .jumbotron {
        height: 60vh;
    }
}


@media (min-width: 1201px) {
    .jumbotron {
        height: 80vh;
    }
}