/* LIGHT MODE */
body {
    background-image: url('/background-light.jpeg');
    background-repeat: repeat;
}

/* Logo */
.logo-container {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid greenyellow;
}

/* Header */
header {
    background-color: rgb(192, 237, 192);
}

header a {
    color: rgb(24, 71, 0);
}

header a:hover {
    color: rgb(152, 254, 0);
}


.height-header {
    height: 16vh;
}

.mobile-menu {
    z-index: 999;
    width: 220px;
    background-color: white;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.mobile-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.mobile-menu.hide {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

/* Bottone "Scopri i nostri esemplari" */
.btn-primary-style {
    background-color: rgb(1, 81, 1);
    color: white;
    text-align: center;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    transition: all 0.3s ease-in-out;
    margin-top: 1rem;
}


.btn-primary-style:hover {
    background-color: greenyellow;
    color: black;
    transform: scale(1.05);
}

/* Cards generiche */
.card,
.blogcard,
.snakecard,
.carosello,
.carosellotext {
    background-color: white;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 150px;
    height: 150px;
    border-radius: 0.75rem;
    object-fit: cover;
    display: block;
}

/* Titolo Shop */
.titoloshop {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

/* Carousel */
.carousel {
    padding: 1rem;
}

.carousel-caption {

    border-radius: 1rem;
    padding: 2rem 1.5rem 2.8rem;
    /* padding bottom aumentato per dare spazio al bottone */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btnblog,
.price,
.btnblog {
    background-color: rgb(1, 81, 1);
    color: white;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.btncart {
    background-color: rgb(179, 1, 1);
    color: white;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.btnblog:hover,
.price:hover,
.btnblog:hover {
    background-color: greenyellow;
    color: black;
    transform: scale(1.05);
}

.btncart:hover {
    background-color: rgb(255, 1, 1);
    color: black;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    transform: scale(1.05);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: green;
    border-radius: 10%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.blogcard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.blog-detail-wrapper {
    align-items: flex-start;
}

.blog-detail-image-container {
    width: 100%;
    max-width: 400px;
    flex-shrink: 0;
    overflow: hidden;
}

.img-blog-detail {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 0.75rem;
}

/* FunFactCard Mini */
.img-funfact {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.75rem;
}

.funfactcard-mini .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

/* impaginazione per shop */
.page-link {
    position: relative;
    display: block;
    padding: 0.375rem 0.75rem;
    /* 6px 12px */
    font-size: 1rem;
    /* 16px */
    font-weight: 400;
    color: black;
    /* Colore del testo predefinito (blu di Bootstrap) */
    text-decoration: none;
    background-color: #fff;
    /* Sfondo bianco */
    border: 1px solid #dee2e6;
    /* Bordo grigio chiaro */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: rgb(1, 85, 1);
    /* Colore del testo al passaggio del mouse (blu più scuro) */
    background-color: #e9ecef;
    /* Sfondo grigio chiaro al passaggio del mouse */
    border-color: #dee2e6;
    /* Bordo invariato */
}

.page-link:focus {
    z-index: 2;
    color: green;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(0, 128, 24, 0.25);
    /* Ombra di focus (blu semitrasparente) */
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    /* Testo bianco per l'elemento attivo */
    background-color: green;
    /* Sfondo blu per l'elemento attivo */
    border-color: green;
    /* Bordo blu per l'elemento attivo */
}

.page-item.disabled .page-link {
    color: #6c757d;
    /* Testo grigio per l'elemento disabilitato */
    pointer-events: none;
    /* Disabilita gli eventi del mouse */
    background-color: #c2c1c1;
    /* Sfondo bianco */
    border-color: #dee2e6;
    /* Bordo grigio chiaro */
}

/* Regole per gli angoli arrotondati, applicate ai primi e ultimi elementi della paginazione */
.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

/* Regole per i link adiacenti, per rimuovere i bordi doppi quando i link sono affiancati */
.page-item+.page-item {
    margin-left: -1px;
    /* Sovrappone leggermente il bordo precedente */
}


@media (min-width: 768px) {
    .carousel-inner {
        height: 400px;
    }
}


/* DARK MODE */
@media (prefers-color-scheme: dark) {
    body {
        background-image: url('/background-dark.jpeg');
    }

    header {
        background-color: rgb(12, 51, 12);
    }

    header a {
        color: rgb(130, 255, 67);
    }

    .snakecard,
    .blogcard,
    .funfactcard,
    .carosello,
    .carosellotext {
        background-color: rgba(32, 30, 30, 0.95);
        color: white;
    }

    .titoloshop {
        background-color: rgba(3, 3, 3, 0.7);
        color: white;
    }

    .price,
    .btnblog,
    .btnblog,
    .funfactcard-mini .btnblog {
        background-color: greenyellow;
        color: black;
    }

    .carousel-caption .btnblog:hover,
    .funfactcard-mini .btnblog:hover,
    .btn-primary-style:hover {
        background-color: white;
        color: green;
        transform: scale(1.05);
    }

    .mobile-menu {
        background-color: rgb(32, 30, 30);
        color: white;
    }

    .mobile-menu a {
        color: rgb(130, 255, 67);
    }

    .mobile-menu a:hover {
        color: greenyellow;
    }

    .btn-primary-style {
        background-color: greenyellow;
        color: black;
    }

    /* impaginazione per shop */
    .page-link {
        color: white;
        /* Colore del testo predefinito (blu di Bootstrap) */
        text-decoration: none;
        background-color: rgb(32, 30, 30);
        /* Sfondo bianco */
        border: 1px solid #dee2e6;
        /* Bordo grigio chiaro */
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .page-link:hover {
        z-index: 2;
        color: rgb(1, 85, 1);
        /* Colore del testo al passaggio del mouse (blu più scuro) */
        background-color: rgb(49, 46, 46);
        /* Sfondo grigio chiaro al passaggio del mouse */
        border-color: #dee2e6;
        /* Bordo invariato */
    }

    .page-link:focus {
        z-index: 2;
        color: greenyellow;
        background-color: rgb(32, 30, 30);
        outline: 0;
        box-shadow: 0 0 0 0.15rem rgba(0, 128, 24, 0.25);
        /* Ombra di focus (blu semitrasparente) */
    }

    .page-item.active .page-link {
        z-index: 3;
        color: black;
        /* Testo bianco per l'elemento attivo */
        background-color: greenyellow;
        /* Sfondo blu per l'elemento attivo */
        border-color: green;
        /* Bordo blu per l'elemento attivo */
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        /* Testo grigio per l'elemento disabilitato */
        pointer-events: none;
        /* Disabilita gli eventi del mouse */
        background-color: rgb(21, 20, 20);
        /* Sfondo bianco */
        border-color: #dee2e6;
        /* Bordo grigio chiaro */
    }

}