body {
    background-image: url('../public/bg_body.jpg');
        background-size: cover;
    background-repeat: no-repeat;

}

.jumbotron {
    /* background-image: url(); */
    height: 22.5vh;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    border-radius: .5rem;
}

.jumbotron-heading {
    font-size: 5rem;
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.height-header {
    height: 16vh;
}
